<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>メモ内容</title>
</head>
<body>
  <h1>メモ内容</h1>
  <p><%= h @memo[:title] %></p>

  <p><%= h @memo[:content] %></p>

  <a href="/memos">メモ一覧</a>
  <a href="/memos/<%= @memo[:id] %>/edit">変更</a>
  
  <form method="POST" action="/memos/<%= @memo[:id] %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="削除">
  </form>
</body>
</html>
