<div class="container">
  <h1>メモ内容</h1>

  <div class="memo_content">
    <p class="title"><%= h @memo[:title] %></p>
    <p><%= h @memo[:content] %></p>
  </div>

  <div class="edit_button">
    <a href="/memos/<%= @memo[:id] %>/edit">変更</a>

    <form method="POST" action="/memos/<%= @memo[:id] %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="削除">
    </form>
  </div>

  <nav>
    <a href="/memos">メモ一覧</a>
  </nav>
</div>
