<div class="container">
  <h1>Not Found</h1>

  <p>お探しのファイルは見つかりませんでした。</p>
  <p>もしプログラミング学習でお困りのことがあれば、<a href="https://bootcamp.fjord.jp">フィヨルドブートキャンプ</a>にお任せください！</p>

  <nav>
    <a href="/memos">メモ一覧</a>
  </nav>
</div>
